In [662]:
import pandas as pd

data_filepath = "data-unclean.csv"

In [663]:
data = pd.read_csv(data_filepath)

pd.set_option("display.max_columns", None)
data.head()

/var/folders/t0/l5bcbd_n75g4yvrybp7c4l380000gn/T/ipykernel_6460/2270262489.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(data_filepath)

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",NaN,1.0,1.0,USD,No,Thumbnail,Cats,2195.0,"$2,195",Monthly,542,507 509 Esplanade,Redondo Beach,CA,338.520,-1.183.759,RentLingo,1577360355
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",NaN,1.5,3.0,USD,No,Thumbnail,"Cats,Dogs",1250.0,"$1,250",Monthly,1500,146 Lochview Dr,Newport News,VA,370.867,-764.941,RentLingo,1577360340
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,NaN,2.0,3.0,USD,No,Thumbnail,NaN,1395.0,"$1,395",Monthly,1650,3101 Morningside Dr,Raleigh,NC,358.230,-786.438,RentLingo,1577360332
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",NaN,1.0,2.0,USD,No,Thumbnail,"Cats,Dogs",1600.0,"$1,600",Monthly,820,209 Aegean Way,Vacaville,CA,383.622,-1.219.712,RentLingo,1577360330
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",NaN,1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",975.0,$975,Monthly,624,4805 Marquette NE,Albuquerque,NM,351.038,-1.066.110,RentLingo,1577360308

# Fixing DtypeWarning: Columns (15) have mixed types

In [664]:
data = pd.read_csv(data_filepath, dtype={"address": str})

print(f"COUNT OF TYPES BEFORE:\n{data["address"].apply(type).value_counts()}\n------------------------")

problematic_rows = data[~data["address"].apply(lambda address: isinstance(address, str))]
data["address"] = data["address"].fillna("Unknown") # CLEANING

print(f"COUNT OF TYPES AFTER:\n{data["address"].apply(type).value_counts()}")

COUNT OF TYPES BEFORE:
address
<class 'float'>    91549
<class 'str'>       7943
Name: count, dtype: int64
------------------------
COUNT OF TYPES AFTER:
address
<class 'str'>    99492
Name: count, dtype: int64

# Dropping columns

In [665]:
# dropping
data = data.drop(["title", "body", "amenities", "has_photo", "price_display", "source"], axis=1)

date = pd.to_datetime(data["time"], unit="s").dt.strftime("%m/%d/%Y")
time = pd.to_datetime(data["time"], unit="s").dt.strftime("%H:%M %p")
data = data.drop("time", axis=1)
data["date"] = date
data["time"] = time

data.head()

,id,category,bathrooms,bedrooms,currency,fee,pets_allowed,price,price_type,square_feet,address,cityname,state,latitude,longitude,date,time
0,5668640009,housing/rent/apartment,1.0,1.0,USD,No,Cats,2195.0,Monthly,542,507 509 Esplanade,Redondo Beach,CA,338.520,-1.183.759,12/26/2019,11:39 AM
1,5668639818,housing/rent/apartment,1.5,3.0,USD,No,"Cats,Dogs",1250.0,Monthly,1500,146 Lochview Dr,Newport News,VA,370.867,-764.941,12/26/2019,11:39 AM
2,5668639686,housing/rent/apartment,2.0,3.0,USD,No,NaN,1395.0,Monthly,1650,3101 Morningside Dr,Raleigh,NC,358.230,-786.438,12/26/2019,11:38 AM
3,5668639659,housing/rent/apartment,1.0,2.0,USD,No,"Cats,Dogs",1600.0,Monthly,820,209 Aegean Way,Vacaville,CA,383.622,-1.219.712,12/26/2019,11:38 AM
4,5668639374,housing/rent/apartment,1.0,1.0,USD,No,"Cats,Dogs",975.0,Monthly,624,4805 Marquette NE,Albuquerque,NM,351.038,-1.066.110,12/26/2019,11:38 AM

# Renaming columns

In [666]:
# renaming
data = data.rename(columns={
    "pets_allowed": "pets allowed",
    "price_type": "price type",
    "square_feet": "square feet",
    "cityname": "city"
})

data.head()

,id,category,bathrooms,bedrooms,currency,fee,pets allowed,price,price type,square feet,address,city,state,latitude,longitude,date,time
0,5668640009,housing/rent/apartment,1.0,1.0,USD,No,Cats,2195.0,Monthly,542,507 509 Esplanade,Redondo Beach,CA,338.520,-1.183.759,12/26/2019,11:39 AM
1,5668639818,housing/rent/apartment,1.5,3.0,USD,No,"Cats,Dogs",1250.0,Monthly,1500,146 Lochview Dr,Newport News,VA,370.867,-764.941,12/26/2019,11:39 AM
2,5668639686,housing/rent/apartment,2.0,3.0,USD,No,NaN,1395.0,Monthly,1650,3101 Morningside Dr,Raleigh,NC,358.230,-786.438,12/26/2019,11:38 AM
3,5668639659,housing/rent/apartment,1.0,2.0,USD,No,"Cats,Dogs",1600.0,Monthly,820,209 Aegean Way,Vacaville,CA,383.622,-1.219.712,12/26/2019,11:38 AM
4,5668639374,housing/rent/apartment,1.0,1.0,USD,No,"Cats,Dogs",975.0,Monthly,624,4805 Marquette NE,Albuquerque,NM,351.038,-1.066.110,12/26/2019,11:38 AM

# Changing NaN values

In [667]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            99492 non-null  int64
 1   category      99492 non-null  object
 2   bathrooms     99429 non-null  float64
 3   bedrooms      99368 non-null  float64
 4   currency      99492 non-null  object
 5   fee           99492 non-null  object
 6   pets allowed  39068 non-null  object
 7   price         99491 non-null  float64
 8   price type    99492 non-null  object
 9   square feet   99492 non-null  int64
 10  address       99492 non-null  object
 11  city          99190 non-null  object
 12  state         99190 non-null  object
 13  latitude      99467 non-null  float64
 14  longitude     99467 non-null  object
 15  date          99492 non-null  object
 16  time          99492 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 12.9+ MB

In [668]:
data = data.fillna({
    "bathrooms": "Unknown",
    "bedrooms": "Unknown",
    "pets allowed": "Unknown",
    "price": "Unknown",
    "city": "Unknown",
    "state": "Unknown",
    "latitude": "Unknown",
    "longitude": "Unknown",
})

In [669]:
 data[data["pets allowed"] == "Cats,Dogs,None"]

,id,category,bathrooms,bedrooms,currency,fee,pets allowed,price,price type,square feet,address,city,state,latitude,longitude,date,time
83369,5168200637,housing/rent/apartment,1.0,1.0,USD,No,"Cats,Dogs,None",930.0,Monthly,720,Unknown,Saint Paul,MN,448.935,-931.084,01/26/2019,20:58 PM

In [670]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            99492 non-null  int64
 1   category      99492 non-null  object
 2   bathrooms     99492 non-null  object
 3   bedrooms      99492 non-null  object
 4   currency      99492 non-null  object
 5   fee           99492 non-null  object
 6   pets allowed  99492 non-null  object
 7   price         99492 non-null  object
 8   price type    99492 non-null  object
 9   square feet   99492 non-null  int64
 10  address       99492 non-null  object
 11  city          99492 non-null  object
 12  state         99492 non-null  object
 13  latitude      99492 non-null  object
 14  longitude     99492 non-null  object
 15  date          99492 non-null  object
 16  time          99492 non-null  object
dtypes: int64(2), object(15)
memory usage: 12.9+ MB

# Formatting data

In [671]:
data.head()

,id,category,bathrooms,bedrooms,currency,fee,pets allowed,price,price type,square feet,address,city,state,latitude,longitude,date,time
0,5668640009,housing/rent/apartment,1.0,1.0,USD,No,Cats,2195.0,Monthly,542,507 509 Esplanade,Redondo Beach,CA,338.52,-1.183.759,12/26/2019,11:39 AM
1,5668639818,housing/rent/apartment,1.5,3.0,USD,No,"Cats,Dogs",1250.0,Monthly,1500,146 Lochview Dr,Newport News,VA,370.867,-764.941,12/26/2019,11:39 AM
2,5668639686,housing/rent/apartment,2.0,3.0,USD,No,Unknown,1395.0,Monthly,1650,3101 Morningside Dr,Raleigh,NC,358.23,-786.438,12/26/2019,11:38 AM
3,5668639659,housing/rent/apartment,1.0,2.0,USD,No,"Cats,Dogs",1600.0,Monthly,820,209 Aegean Way,Vacaville,CA,383.622,-1.219.712,12/26/2019,11:38 AM
4,5668639374,housing/rent/apartment,1.0,1.0,USD,No,"Cats,Dogs",975.0,Monthly,624,4805 Marquette NE,Albuquerque,NM,351.038,-1.066.110,12/26/2019,11:38 AM

In [672]:
data["category"] = data["category"].str.replace("housing/rent/", "")
data["category"] = data["category"].str.replace("housing/rent", "Unknown")

data["category"].unique()

array(['apartment', 'home', 'short_term', 'Unknown', 'condo', 'other',
       'commercial/retail'], dtype=object)

In [673]:
data.head()

,id,category,bathrooms,bedrooms,currency,fee,pets allowed,price,price type,square feet,address,city,state,latitude,longitude,date,time
0,5668640009,apartment,1.0,1.0,USD,No,Cats,2195.0,Monthly,542,507 509 Esplanade,Redondo Beach,CA,338.52,-1.183.759,12/26/2019,11:39 AM
1,5668639818,apartment,1.5,3.0,USD,No,"Cats,Dogs",1250.0,Monthly,1500,146 Lochview Dr,Newport News,VA,370.867,-764.941,12/26/2019,11:39 AM
2,5668639686,apartment,2.0,3.0,USD,No,Unknown,1395.0,Monthly,1650,3101 Morningside Dr,Raleigh,NC,358.23,-786.438,12/26/2019,11:38 AM
3,5668639659,apartment,1.0,2.0,USD,No,"Cats,Dogs",1600.0,Monthly,820,209 Aegean Way,Vacaville,CA,383.622,-1.219.712,12/26/2019,11:38 AM
4,5668639374,apartment,1.0,1.0,USD,No,"Cats,Dogs",975.0,Monthly,624,4805 Marquette NE,Albuquerque,NM,351.038,-1.066.110,12/26/2019,11:38 AM

# Writing data

In [674]:
data.to_csv("data.csv")